In [14]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import *
import warnings
warnings.filterwarnings('ignore')

In [22]:
df = pd.read_csv('./input/10Y.csv',index_col=0 ,parse_dates=True).dropna()
df = df.loc['2013-01-31':]

In [23]:
dates_list = df.index.to_list()
ans = pd.DataFrame(index=[20, 15, 10, 5, 0, -5, -10, -15, -20],
                   columns=[1,2,3,6,12])
for period in [1,2,3,6,12]:
    total = 0
    cnt = {k:0 for k in [20, 15, 10, 5, 0, -5, -10, -15, -20]}
    for ii in range(len(df)):
        if dates_list[ii] > dates_list[-1]-relativedelta(months=period):
            break
        temp = df.loc[dates_list[ii]:dates_list[ii]+relativedelta(months=period)]
        temp['amp'] = temp['close'] - temp['close'].iloc[0]

        for multi in [20, 15, 10, 5, 0, -5, -10, -15, -20]:
            amp = 0.01 * multi
            if amp >= 0 and (temp['amp'].iloc[-1]>amp):
                    cnt[multi] = cnt[multi]  + 1
            elif amp <0 and (temp['amp'].iloc[-1]<amp):
                    cnt[multi]  = cnt[multi]  +1
        total = total + 1
    for multi in [20, 15, 10, 5, 0, -5, -10, -15, -20]:
        ans.loc[multi,period] = cnt[multi] / total

In [24]:
ans

           1         2         3         6         12
 20  0.071745  0.133849  0.207307  0.248947  0.265098
 15  0.120919  0.197722  0.243432  0.269587  0.273091
 10  0.192664  0.275427  0.309934  0.302022   0.28508
 5   0.309553  0.358421  0.376847  0.328559  0.317052
 0   0.454252  0.459317   0.44335  0.365206  0.361012
-5   0.388956  0.439788  0.465517  0.581297   0.60746
-10  0.234583  0.342555   0.38711  0.505055  0.576821
-15  0.122128  0.248983   0.31486  0.422072  0.544849
-20  0.061669  0.161107  0.245484  0.354254   0.51865

             close     amp
2014-10-11  3.9965  0.0000
2014-10-13  3.9953 -0.0012
2014-10-14  3.9015 -0.0950
2014-10-15  3.8215 -0.1750
2014-10-16  3.8116 -0.1849
2014-10-17  3.8110 -0.1855
2014-10-20  3.7441 -0.2524
2014-10-21  3.7323 -0.2642
2014-10-22  3.7929 -0.2036
2014-10-23  3.8108 -0.1857
2014-10-24  3.8013 -0.1952
2014-10-27  3.7756 -0.2209
2014-10-28  3.7424 -0.2541
2014-10-29  3.7176 -0.2789
2014-10-30  3.7688 -0.2277
2014-10-31  3.7559 -0.2406
2014-11-03  3.7007 -0.2958
2014-11-04  3.6412 -0.3553
2014-11-05  3.6117 -0.3848
2014-11-06  3.6223 -0.3742
2014-11-07  3.5631 -0.4334
2014-11-10  3.5132 -0.4833
2014-11-11  3.4981 -0.4984